In [1]:
import pandas as pd
df=pd.read_csv('TB_F100_SICOVID.csv', parse_dates=['fecha_prueba'], infer_datetime_format=True, converters = {'id_ubigeo_prueba': str})
df

,id_persona,fecha_prueba,id_tipo_prueba,id_resultado_prueba,id_ubigeo_prueba
0,15539562,2021-03-30,2,2,1559
1,6651848,2020-08-17,1,4,344
2,13803879,2020-07-11,1,4,40
3,11602765,2020-10-12,1,1,1151
4,7395766,2021-01-27,1,1,1320
...,...,...,...,...,...
28351266,30100779,2021-12-30,2,2,1293
28351267,29757100,2021-12-30,2,2,224
28351268,1342009,2022-01-03,1,1,1611
28351269,3836808,2022-01-03,2,1,1281
28351270,29591993,2022-01-03,2,1,547

In [2]:
# DATA UBIGEOS
df_id_ubigeo = pd.read_csv('TB_UBIGEOS.csv', converters = {'id_ubigeo': str, 'ubigeo_inei': str})
df_id_ubigeo

,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,...,iso_3166_2,fips,superficie,altitud,latitud,longitud,pob_distrito,pob_provincia,pob_departamento,diresa
0,1,10101.0,010101,1.0,AMAZONAS,101.0,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,...,PE-AMA,1,154.0,2338.0,-6.2294,-77.8728,31382.0,59346.0,477514.0,AMAZONAS
1,2,10102.0,010102,1.0,AMAZONAS,101.0,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,...,PE-AMA,1,26.0,2823.0,-6.0325,-77.7108,345.0,59346.0,477514.0,AMAZONAS
2,3,10103.0,010103,1.0,AMAZONAS,101.0,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,...,PE-AMA,1,357.0,859.0,-6.8358,-78.0197,1421.0,59346.0,477514.0,AMAZONAS
3,4,10104.0,010104,1.0,AMAZONAS,101.0,CHACHAPOYAS,CHETO,AMAZONAS,ORIENTE,...,PE-AMA,1,57.0,2143.0,-6.2556,-77.7008,769.0,59346.0,477514.0,AMAZONAS
4,5,10105.0,010105,1.0,AMAZONAS,101.0,CHACHAPOYAS,CHILIQUIN,AMAZONAS,ORIENTE,...,PE-AMA,1,143.0,2677.0,-6.0783,-77.7375,1044.0,59346.0,477514.0,AMAZONAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,1890,70919.0,080918,8.0,CUSCO,809.0,LA CONVENCION,UNION ASHÁNINKA,CUSCO,SUR,...,PE-CUS,8,NaN,NaN,NaN,NaN,NaN,217939.0,1471345.0,CUSCO
1889,1891,30712.0,030612,3.0,APURIMAC,306.0,CHINCHEROS,AHUAYRO,APURIMAC,SUR,...,PE-APU,3,NaN,NaN,NaN,NaN,22.0,53862.0,466799.0,APURIMAC
1890,1892,210806.0,221006,22.0,SAN MARTIN,2210.0,TOCACHE,SANTA LUCIA,SAN MARTIN,ORIENTE,...,PE-SAM,22,NaN,NaN,NaN,NaN,52.0,87558.0,979664.0,SAN MARTIN
1891,1893,150107.0,160109,16.0,LORETO,1601.0,MAYNAS,PUTUMAYO,LORETO,ORIENTE,...,PE-LOR,16,NaN,NaN,NaN,NaN,5.0,588333.0,1161996.0,LORETO
1892,1894,150114.0,160114,16.0,LORETO,1601.0,MAYNAS,TENIENTE MANUEL CLAVERO,LORETO,ORIENTE,...,PE-LOR,16,NaN,NaN,NaN,NaN,1.0,588333.0,1161996.0,LORETO

In [3]:
# TIPOS DE PRUEBAS POR DIA
df_pruebas=df[['fecha_prueba','id_tipo_prueba','id_persona']].groupby(['fecha_prueba','id_tipo_prueba']).count()
df_pruebas=df_pruebas.reset_index()
df_pruebas=df_pruebas.pivot(index='fecha_prueba', columns='id_tipo_prueba', values='id_persona')
df_pruebas=df_pruebas.rename_axis(None, axis=1)
df_pruebas.columns=['Serológica','Antígena','Quimioluminiscencia']
df_pruebas=df_pruebas.fillna(0).astype('int')
df_pruebas

              Serológica  Antígena  Quimioluminiscencia
fecha_prueba
2020-03-15            68        10                    0
2020-03-16            38         1                    0
2020-03-17            32         1                    0
2020-03-18            36         0                    0
2020-03-19            38         0                    0
...                  ...       ...                  ...
2022-01-03          2277     52866                    0
2022-01-04            36     62036                    0
2022-01-05             0     59353                    0
2022-01-06             2     51861                    0
2022-01-07             4     23362                    0

[664 rows x 3 columns]

In [4]:
# TIPOS DE PRUEBAS ACUMULADO
df_pruebas_cum=df_pruebas.cumsum()
df_pruebas_cum

              Serológica  Antígena  Quimioluminiscencia
fecha_prueba
2020-03-15            68        10                    0
2020-03-16           106        11                    0
2020-03-17           138        12                    0
2020-03-18           174        12                    0
2020-03-19           212        12                    0
...                  ...       ...                  ...
2022-01-03      17711294  10228808               214515
2022-01-04      17711330  10290844               214515
2022-01-05      17711330  10350197               214515
2022-01-06      17711332  10402058               214515
2022-01-07      17711336  10425420               214515

[664 rows x 3 columns]

In [5]:
# PRUEBAS RÁPIDAS RESULTADOS POR DIA
df_serologicas=df[df['id_tipo_prueba']==1].groupby(['fecha_prueba','id_resultado_prueba']).count()
df_serologicas=df_serologicas.reset_index()
df_serologicas=df_serologicas.pivot(index='fecha_prueba', columns='id_resultado_prueba', values='id_persona')
df_serologicas=df_serologicas.rename_axis(None, axis=1)
df_serologicas.columns=['Negativo','IgG Positivo','IgM e IgG Positivo','IgM Positivo']
df_serologicas=df_serologicas.fillna(0).astype('int')
df_serologicas

              Negativo  IgG Positivo  IgM e IgG Positivo  IgM Positivo
fecha_prueba
2020-03-15          59             2                   4             3
2020-03-16          36             1                   1             0
2020-03-17          28             2                   2             0
2020-03-18          32             0                   3             1
2020-03-19          34             0                   4             0
...                ...           ...                 ...           ...
2022-01-02        1183             0                 276             0
2022-01-03        1791             1                 485             0
2022-01-04          31             0                   5             0
2022-01-06           1             1                   0             0
2022-01-07           1             3                   0             0

[659 rows x 4 columns]

In [6]:
# PRUEBAS RÁPIDAS RESULTADOS ACUMULADO
df_serologicas_cum=df_serologicas.cumsum()
df_serologicas_cum

              Negativo  IgG Positivo  IgM e IgG Positivo  IgM Positivo
fecha_prueba
2020-03-15          59             2                   4             3
2020-03-16          95             3                   5             3
2020-03-17         123             5                   7             3
2020-03-18         155             5                  10             4
2020-03-19         189             5                  14             4
...                ...           ...                 ...           ...
2022-01-02    13053049       2459676             1747150        449142
2022-01-03    13054840       2459677             1747635        449142
2022-01-04    13054871       2459677             1747640        449142
2022-01-06    13054872       2459678             1747640        449142
2022-01-07    13054873       2459681             1747640        449142

[659 rows x 4 columns]

In [7]:
# PRUEBAS ANTIGENO RESULTADOS POR DIA
df_antigeno=df[df['id_tipo_prueba']==2].groupby(['fecha_prueba','id_resultado_prueba']).count()
df_antigeno=df_antigeno.reset_index()
df_antigeno=df_antigeno.pivot(index='fecha_prueba', columns='id_resultado_prueba', values='id_persona')
df_antigeno=df_antigeno.rename_axis(None, axis=1)
df_antigeno.columns=['Negativo','Positivo','IgM e IgG Positivo']
df_antigeno=df_antigeno.fillna(0).astype('int')
df_antigeno

              Negativo  Positivo  IgM e IgG Positivo
fecha_prueba
2020-03-15           6         4                   0
2020-03-16           1         0                   0
2020-03-17           1         0                   0
2020-03-21           1         0                   0
2020-03-25           2         1                   0
...                ...       ...                 ...
2022-01-03       43430      8218                1218
2022-01-04       49499      9831                2706
2022-01-05       45915     11737                1701
2022-01-06       39141     11665                1055
2022-01-07       17429      5753                 180

[619 rows x 3 columns]

In [8]:
# PRUEBAS ANTIGENO RESULTADOS ACUMULADO
df_antigeno_cum=df_antigeno.cumsum()
df_antigeno_cum

              Negativo  Positivo  IgM e IgG Positivo
fecha_prueba
2020-03-15           6         4                   0
2020-03-16           7         4                   0
2020-03-17           8         4                   0
2020-03-21           9         4                   0
2020-03-25          11         5                   0
...                ...       ...                 ...
2022-01-03     9274043    951439                3326
2022-01-04     9323542    961270                6032
2022-01-05     9369457    973007                7733
2022-01-06     9408598    984672                8788
2022-01-07     9426027    990425                8968

[619 rows x 3 columns]

In [9]:
# TIPOS DE PRUEBAS POR DISTRITO
df_ubigeo=df[['id_ubigeo_prueba','id_tipo_prueba','id_persona']].groupby(['id_ubigeo_prueba','id_tipo_prueba']).count()
df_ubigeo=df_ubigeo.reset_index()
df_ubigeo=df_ubigeo.pivot(index='id_ubigeo_prueba', columns='id_tipo_prueba', values='id_persona')
df_ubigeo=df_ubigeo.rename_axis(None, axis=1)
df_ubigeo.columns=['Serológica','Antígena','Quimioluminiscencia']
df_ubigeo=df_ubigeo.fillna(0).astype('int')

# EQUIVALENTES DE ID UBIGEO
df_ubigeo = pd.merge(df_ubigeo, df_id_ubigeo[['id_ubigeo','ubigeo_inei','departamento', 'provincia', 'distrito']],  how='inner', left_on='id_ubigeo_prueba', right_on='id_ubigeo')
df_ubigeo

,Serológica,Antígena,Quimioluminiscencia,id_ubigeo,ubigeo_inei,departamento,provincia,distrito
0,39265,13774,59,1,010101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS
1,1108,719,0,10,010110,AMAZONAS,CHACHAPOYAS,LEIMEBAMBA
2,920,523,0,100,020204,ANCASH,AIJA,LA MERCED
3,7800,2943,9,1000,110108,ICA,ICA,SALAS
4,2065,1037,2,1001,110109,ICA,ICA,SAN JOSE DE LOS MOLINOS
...,...,...,...,...,...,...,...,...
1872,6891,3575,38,995,110103,ICA,ICA,LOS AQUIJES
1873,1712,723,6,996,110104,ICA,ICA,OCUCAJE
1874,3014,799,1,997,110105,ICA,ICA,PACHACUTEC
1875,24094,10542,132,998,110106,ICA,ICA,PARCONA
1876,4352,2271,32,999,110107,ICA,ICA,PUEBLO NUEVO

In [10]:
# TIPOS DE PRUEBAS POR PROVINCIA
df_provincia = df_ubigeo[['Serológica','Antígena','Quimioluminiscencia','provincia']].groupby(['provincia']).sum()
df_provincia

               Serológica  Antígena  Quimioluminiscencia
provincia
ABANCAY             89368     38246                   82
ACOBAMBA            14054      5559                   21
ACOMAYO              6718      3136                    6
AIJA                 3706      2754                    1
ALTO AMAZONAS       25055     11969                   34
...                   ...       ...                  ...
YAULI               28370     21168                  340
YAUYOS               6783      2417                    3
YUNGAY               8502      7993                    7
YUNGUYO              5029      4679                  430
ZARUMILLA           10361      6238                   15

[196 rows x 3 columns]

In [11]:
# TIPOS DE PRUEBAS POR DEPARTAMENTO
df_departamento = df_ubigeo[['Serológica','Antígena','Quimioluminiscencia','departamento']].groupby(['departamento']).sum()
df_departamento

               Serológica  Antígena  Quimioluminiscencia
departamento
AMAZONAS           162774     61672                  179
ANCASH             471849    379319                 1444
APURIMAC           218761    105809                  260
AREQUIPA          1596246    769923                31764
AYACUCHO           202281    101338                  177
CAJAMARCA          432695    390513                 4538
CALLAO             670657    324306                 6006
CUSCO              681574    421433                 1634
HUANCAVELICA       145836     84587                  473
HUANUCO            244461    129633                 1098
ICA                548173    265538                 5540
JUNIN              595726    517967                 5080
LA LIBERTAD        692773    434955                17274
LAMBAYEQUE         406511    202964                 4017
LIMA              7902469   4774671               110058
LORETO             223195    121086                  201
MADRE DE DIOS       96975     20986                   85
MOQUEGUA           295304    118918                 5375
PASCO              173670    220064                 1356
PIURA              603056    407592                 3111
PUNO               407660    193599                10919
SAN MARTIN         237761     97498                 1468
TACNA              283252    121063                 2176
TUMBES              73911     47334                  135
UCAYALI            154768     64388                   95

In [12]:
df_pruebas.to_csv('resultados/pruebas.csv')
df_pruebas_cum.to_csv('resultados/pruebas_acumulado.csv')
df_serologicas.to_csv('resultados/serologicas.csv')
df_serologicas_cum.to_csv('resultados/serologicas_acumulado.csv')
df_antigeno.to_csv('resultados/antigeno.csv')
df_antigeno_cum.to_csv('resultados/antigeno_acumulado.csv')
df_ubigeo.to_csv('resultados/pruebas_por_distrito.csv')
df_provincia.to_csv('resultados/pruebas_por_provincia.csv')
df_departamento.to_csv('resultados/pruebas_por_departamento.csv')